<h1>What is Spotty Mouth?</h1>
<p>Do you like social networking?  Do you really enjoying getting to meet new people
or maintain your friendships online?  Do you like uploading pictures and keeping 
people updated on what you are doing?  Then Spotty Mouth is <strong>NOT</strong> for you.
</p>

<p>Spotty Mouth is the social anti-networking of Web 2.0.  You are not here to make 
friends - you are here to make enemies.  Your popularity will not be defined by your
 looks or your number of friends, but rather by the sharpness of your tongue.  Spit fire 
and bask in the glory of the <%= link_to "Wall of Fame", walloffame_path %>.  
BUT be careful - if your game needs work there are plenty of cats out there who won't 
hesitate to let you know, and you might find yourself up on our 
<%= link_to "Wall of Shame", wallofshame_path %>.
</p>

<p>
You want friends?  You want pictures?  <strong>STOP</strong> wasting your time here and go somewhere else.  
But if you are just looking to spit game and can handle a joke or two, feel free to
<%= link_to "Sign up", signup_path, :class => "signup_button" %>
If you are already registered then what are you doing reading this?  
<%= link_to "Sign in", signin_path %> and GET 
TO IT.
</p>