<h1>Contact</h1>
<p>Just...don't even bother...</p>

<br />
<br />
<p>Sigh well we suppose if you have any issues with the 
site you can contact us at spottymouth@gmail.com</p>
<p> On a more serious note, you may find our <%= link_to "Terms and Conditions", '/terms_and_conditions' %> here.</p>