<h2>TERMS AND CONDITIONS</h2>

<p>
Spotty Mouth is a free of charge service which provides you the liberty of free speech on the internet.  
We do not feel as if it is our job to censor the words and thoughts of our users.  <strong>HOWEVER</strong> at our 
core we aim to provide a lively, fun, and creative forum for jokes and insults.  As such the following conditions
 apply:

<br />
<br />
<strong>HATEFUL, RACIST, ABUSIVE, AND HARASSING INSULTS WILL NOT BE TOLERATED.  ANY SUCH INSTANCES WHICH 
ARE REPORTED TO US WILL BE DELETED.  ANY USERS WHO ARE FOUND TO BE REPEATEDLY VIOLATING THIS CONDITION WILL
 BE DELETED, NO QUESTIONS ASKED.
</strong>
<br />
<br />
Spotty Mouth will also not be legally held responsible for anything you say on the site.  Free speech does 
have its limits, so remember to keep it tasteful and help foster a community that is witty and creative, not
 hateful and bigoted.  Thank you.
</p>
